<style>

  {%- if section.settings.sticky_header_type == 'reduce-logo-size' -%}
    .scrolled-past-header .header__heading-logo-wrapper {
      width: 75%;
    }
  {%- endif -%}

</style>

{%- style -%}
  .header {
    padding: {{ section.settings.padding_top | times: 0.5 | round: 0 }}px 3rem {{ section.settings.padding_bottom | times: 0.5 | round: 0 }}px 3rem;
  }

  .section-header {
    position: sticky; /* This is for fixing a Safari z-index issue. PR #2147 */
    margin-bottom: {{ section.settings.margin_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-header {
      margin-bottom: {{ section.settings.margin_bottom }}px;
    }
  }

  @media screen and (min-width: 990px) {
    .header {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<header class="tv-header header--mobile-{{ section.settings.mobile_logo_position }}  color-{{ section.settings.color_scheme }} gradient{% if section.settings.show_line_separator %} header-wrapper--border-bottom{% endif %}">
  <div class="tv-container">
    {%- for block in section.blocks -%}
        {%- case block.type -%}
          {% when 'Logo' %}
            <a href="{{ shop.url }}">
              {%- assign logo_alt = block.settings.logo.alt | default: shop.name | escape -%}
              {{ block.settings.logo | image_url: width: 600 | image_tag:
              class: 'header__heading-logo motion-reduce',
              width: block.settings.logo_width,
              alt: logo_alt,
              preload: true
              }}        
            </a>

            
          
        {%- endcase -%}
      {%- endfor -%}
    <div class="tvh-txt"> Find the ideal gift for your loved ones.</div>
    <a href="#" class="tv-btn">Choose Gift <img src="//satinder-ghai-test.myshopify.com/cdn/shop/files/store-logo.png?v=1717063745&amp;width=600"></a>
  
  </div>
</header>


{% schema %}
{
  "name": "Header",
  "tag":"section",
  "class": "section-header",
  "settings": [
    {
      "type": "select",
      "id": "sticky_header_type",
      "options": [
        {
          "value": "none",
          "label": "t:sections.header.settings.sticky_header_type.options__1.label"
        },
        {
          "value": "on-scroll-up",
          "label": "t:sections.header.settings.sticky_header_type.options__2.label"
        },
        {
          "value": "always",
          "label": "t:sections.header.settings.sticky_header_type.options__3.label"
        },
        {
          "value": "reduce-logo-size",
          "label": "t:sections.header.settings.sticky_header_type.options__4.label"
        }
      ],
      "default": "on-scroll-up",
      "label": "t:sections.header.settings.sticky_header_type.label"
    },
    {
      "type": "checkbox",
      "id": "show_line_separator",
      "default": true,
      "label": "t:sections.header.settings.show_line_separator.label"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.header__1.content"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.mobile_layout.content"
    },
    {
      "type": "select",
      "id": "mobile_logo_position",
      "options": [
        {
          "value": "center",
          "label": "t:sections.header.settings.mobile_logo_position.options__1.label"
        },
        {
          "value": "left",
          "label": "t:sections.header.settings.mobile_logo_position.options__2.label"
        }
      ],
      "default": "center",
      "label": "t:sections.header.settings.mobile_logo_position.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.spacing"
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.header.settings.margin_bottom.label",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 36,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 36,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 20
    }
  ],
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "Logo",
      "name": "Website Logo",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "logo",
          "label": "Website Logo"
        },
        {
          "type": "range",
          "id": "logo_width",
          "min": 120,
          "max": 220,
          "step": 1,
          "unit": "px",
          "label": "Logo Width",
          "default": 120
        }
      ]
    },
    {
      "type": "text",
      "name": "Headline Tag",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "tag_content",
          "label": "Tag Line Content"
        },
        {
          "type": "range",
          "id": "content_size",
          "min": 12,
          "max": 22,
          "step": 1,
          "unit": "px",
          "label": "Content Size",
          "default": 12
        }
      ]
    },
    {
      "type": "button",
      "name": "Header Button",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_text",
          "default": "CHOOSE GIFT",
          "label": "Button Text"
        },
        {
          "type": "url",
          "id": "button_url",
          "label": "Button Link"
        },
        {
          "type": "image_picker",
          "id": "button_icon",
          "label": "Button Icon"
        },
        {
          "type": "range",
          "id": "icon_width",
          "min": 15,
          "max": 28,
          "step": 1,
          "unit": "px",
          "label": "Icon Size",
          "default": 26
        }
      ]
    }
    
  ],
  "presets": [
    {
      "name":"Custom Header"
    }
  ]
}
{% endschema %}
